/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index'; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.body {
  height: 100vh; }

.prueba {
  background-color: red; }

.header {
  height: 150px;
  background-image: url("https://images8.alphacoders.com/698/698914.jpg");
  background-size: cover;
  background-position: center;
  position: relative; }
  @media all and (min-width: 768px) {
    .header {
      height: 200px; } }
  @media all and (min-width: 1024px) {
    .header {
      height: 280px; } }
  .header__form {
    display: flex;
    position: absolute;
    bottom: -15px;
    right: 40px;
    gap: 15px; }
    @media all and (min-width: 768px) {
      .header__form {
        bottom: -20px;
        right: 25%;
        gap: 20px; } }
    @media all and (min-width: 1024px) {
      .header__form {
        bottom: -30px;
        right: 20%;
        gap: 20px; } }
    .header__form--input {
      height: 30px;
      width: 150px; }
      @media all and (min-width: 768px) {
        .header__form--input {
          height: 45px;
          width: 300px; } }
      @media all and (min-width: 1024px) {
        .header__form--input {
          width: 500px;
          height: 60px; } }
    .header__form--button {
      height: 30px;
      width: 80px; }
      @media all and (min-width: 768px) {
        .header__form--button {
          height: 45px;
          width: 100px; } }
      @media all and (min-width: 1024px) {
        .header__form--button {
          height: 60px;
          width: 150px; } }

.hidden {
  display: none; }

.page {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media all and (min-width: 768px) {
    .page {
      flex-direction: row;
      align-items: flex-start; } }

.aside {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 0 20px; }
  .aside__title {
    padding: 40px;
    font-size: 25px; }

.main {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 0 20px; }
  .main__title {
    padding: 40px;
    font-size: 25px; }

.cardsList {
  display: flex;
  flex-wrap: wrap;
  gap: 60px; }

.listElement {
  height: 395px;
  width: 225px;
  background-color: rgba(243, 155, 23, 0.705); }
  .listElement__article {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px; }
    .listElement__article--img {
      height: 275px;
      width: 200px; }
    .listElement__article--name {
      font-size: 20px; }

.selected {
  background-color: blue; }

/*# sourceMappingURL=main.css.map */
