:root {
  font-family: 'Open Sans', sans-serif; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  height: 180px;
  background: url(../images/logo_breaking_bad.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center; }
  @media all and (min-width: 768px) {
    .header {
      height: 300px; } }
  @media all and (min-width: 1024px) {
    .header {
      height: 380px; } }

.fieldset {
  background-color: rgba(186, 186, 36, 0.895);
  height: 45px;
  width: 80%;
  position: relative;
  top: 87%;
  display: flex;
  justify-content: center;
  padding: 5px 10px 5px 10px;
  align-items: center;
  border-radius: 10px;
  box-shadow: #130504 0px 1px 4px, rgba(186, 186, 36, 0.895) 0px 0px 0px 3px; }
  @media all and (min-width: 768px) {
    .fieldset {
      height: 55px;
      width: 70%;
      top: 90%; } }
  @media all and (min-width: 1024px) {
    .fieldset {
      width: 60%;
      top: 92%; } }
  .fieldset__form--input {
    height: 30px;
    width: 160px;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
    font-weight: 700; }
    @media all and (min-width: 768px) {
      .fieldset__form--input {
        height: 35px;
        width: 300px; } }
    @media all and (min-width: 1024px) {
      .fieldset__form--input {
        height: 35px;
        width: 320px; } }
  .fieldset__form--button {
    height: 30px;
    width: 60px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border-style: none;
    font-weight: 700;
    color: #0d1804; }
    @media all and (min-width: 768px) {
      .fieldset__form--button {
        height: 35px;
        width: 100px;
        margin-left: 20px; } }
    @media all and (min-width: 1024px) {
      .fieldset__form--button {
        height: 35px;
        width: 120px;
        margin-left: 30px; } }

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 30px 50px 30px;
  background-color: #0d1804; }
  @media all and (min-width: 768px) {
    .main {
      flex-direction: row; } }

.favSection {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media all and (min-width: 768px) {
    .favSection {
      padding-top: 40px;
      width: 50%; } }
  @media all and (min-width: 1024px) {
    .favSection {
      padding-top: 40px;
      width: 50%; } }
  .favSection__title {
    margin-bottom: 50px;
    padding: 5px;
    font-size: 1.875rem;
    font-weight: 700;
    color: #0d1804;
    background-color: rgba(186, 186, 36, 0.895);
    box-shadow: #dbf183 0px 1px 3px 0px, rgba(133, 138, 124, 0.919) 0px 0px 0px 1px;
    border-radius: 5px; }
  @media all and (min-width: 1024px) {
    .favSection__favList {
      display: flex;
      flex-direction: column;
      gap: 50px; } }

.allSection {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media all and (min-width: 768px) {
    .allSection {
      width: 50%; } }
  @media all and (min-width: 1024px) {
    .allSection {
      width: 80%; } }
  .allSection__title {
    margin-bottom: 50px;
    padding: 5px;
    font-size: 1.875rem;
    font-weight: 700;
    color: #0d1804;
    background-color: rgba(186, 186, 36, 0.895);
    box-shadow: #dbf183 0px 1px 3px 0px, rgba(133, 138, 124, 0.919) 0px 0px 0px 1px;
    border-radius: 5px; }
  @media all and (min-width: 1024px) {
    .allSection__cardsList {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 50px; } }

.listElement {
  margin-bottom: 35px;
  height: 380px;
  width: 225px;
  background-color: rgba(255, 255, 46, 0.626);
  box-shadow: #dbf183 0px 1px 3px 0px, rgba(133, 138, 124, 0.919) 0px 0px 0px 1px;
  border-radius: 15px; }
  .listElement__article {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .listElement__article--img {
      padding: 10px;
      margin: 15px;
      height: 275px;
      width: 200px;
      border-radius: 15px; }
    .listElement__article--name {
      margin-bottom: 15px;
      font-size: 1.5625rem; }
    .listElement__article--status {
      padding-bottom: 10px;
      font-style: italic; }

.footer {
  font-size: 0.5rem;
  height: 30px;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 46, 0.626);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; }
  @media all and (min-width: 768px) {
    .footer {
      font-size: 0.875rem;
      line-height: 1.2;
      height: 45px;
      padding-left: 60px;
      gap: 60px; } }
  @media all and (min-width: 1024px) {
    .footer {
      height: 50px;
      padding: 10px; } }
  .footer__copy {
    font-style: italic;
    width: 35%; }
    @media all and (min-width: 1024px) {
      .footer__copy {
        width: 10%; } }

.selected {
  box-shadow: rgba(171, 226, 8, 0.3) 0px 19px 38px, rgba(247, 253, 188, 0.928) 0px 15px 25px;
  border-radius: 15px; }

/*# sourceMappingURL=main.css.map */
