/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index'; */

@import 'core/reset';

.body {
    height: 100vh;
}
.holi {
    background-color: red;
}
.header {
    height: 150px;
    background-image: url("https://images8.alphacoders.com/698/698914.jpg");
    background-size: cover;
    background-position: center;
    position: relative;

    @media all and (min-width:768px) {
        height: 200px;
    }

    @media all and (min-width:1024px) {
        height: 280px;
    }

    &__form {
        display: flex;
        position: absolute;
        bottom: -15px;
        right: 40px;
        gap: 15px;

        @media all and (min-width:768px) {
            bottom: -20px;
            right: 25%;
            gap: 20px;
        }

        @media all and (min-width:1024px) {
            bottom: -30px;
            right: 20%;
            gap: 20px;
        }
        
        &--input {
            height: 30px;
            width: 150px;
            @media all and (min-width:768px) {
                height: 45px;
                width: 300px;
                
            }
           
            @media all and (min-width:1024px) {
                width: 500px;
                height: 60px;
           }
        }

        &--button {
            height: 30px;
            width: 80px;
            @media all and (min-width:768px) {
                height: 45px;
                width: 100px;
            }

            @media all and (min-width:1024px) {
                height: 60px;
                width: 150px;
           }
            
        } 
    }
}


.hidden {
    display: none;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media all and (min-width:768px) {
        flex-direction: row;
        align-items: flex-start;
    }
}

.aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0 20px;

    &__title {
        padding: 40px;
        font-size: 25px
    }
}

.main {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0 20px;

    &__title {
        padding: 40px;
        font-size: 25px;
    }
}

.cardsList {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.listElement {
    height: 395px;
    width: 225px;
    background-color: rgba(243, 155, 23, 0.705);

    &__article {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        &--img {
            height: 275px;
            width: 200px;
        }

        &--name {
            font-size: 20px;
        }
    }
}

.selected {
    background-color: blue;
}